/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
/*variables*/
/*mix-ins*/
/*BEGIN NAVIGATION STYLING*/
nav {
  background-color: #FFC0CB;
  height: 8vh;
}
.navContainer nav {
  display: flex;
  justify-content: space-evenly;
}
nav a {
  width: 85%;
  font-size: 22px;
  color: #708090;
}
/*END NAVIGATION STYLING*/
/*BEGIN ABOUT SECTION STYLING*/
.aboutDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}
.aboutDiv div {
  width: 60%;
}
.aboutDiv p {
  font-style: italic;
}
/*begin intro styling*/
.intro {
  display: flex;
  justify-content: center;
  align-content: center;
  /*this closes the div*/
  /*this closes the h1*/
  /*this closes the h2*/
  /*this closes the paragraph*/
}
.intro div {
  margin: 1%;
  padding: 4%;
}
.intro h1 {
  font-size: 40px;
}
.intro h2 {
  font-size: 30px;
}
.intro p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
}
/*this closes the intro*/
.portfolio button {
  display: flex;
  justify-content: center;
  align-content: center;
}
/*this closes the portfolio button*/
/*end intro styling*/
/*END ABOUT SECTION STYLING*/
/*BEGIN SKILLS SECTION STYLING*/
.skills {
  display: flex;
  justify-content: center;
  align-content: center;
  /*this closes the div*/
  /*this closes the h3*/
  /*this close the list items*/
}
.skills div {
  width: 50%;
  margin: 1%;
  padding: 4%;
}
.skills h3 {
  font-size: 25px;
}
.skills li {
  font-size: 25px;
}
/*this closes the skills class*/
/*END SKILLS SECTION STYLING*/
/*BEGIN EDUCATION SECTON STYLING*/
h2 {
  font-size: 30px;
}
.eduContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  /*this closes div*/
  /*this closes the h3*/
  /*this close the paragraph*/
}
.eduContainer div {
  width: 85%;
  margin: 1%;
  padding: 4%;
}
.eduContainer h3 {
  font-size: 25px;
}
.eduContainer p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
}
/*this closes big eduContainer*/
/*END EDUCATION SECTION STYLING*/
/*BEGIN WORK SECTION STYLING*/
h2 {
  font-size: 30px;
}
/*this closes h2*/
.workContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  /*this closes div*/
}
.workContainer div {
  width: 85%;
  margin: 1%;
  padding: 4%;
}
/*this closes workContainer*/
h3 {
  font-size: 25px;
}
/*this closes h3*/
h4 {
  font-size: 22px;
}
/*this closes h4*/
p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
}
/*this closes paragraph*/
/*END WORK SECTION STYLING*/
/*BEGIN CONTACT SECTION STYLING*/
.contact {
  display: flex;
  justify-content: center;
  align-content: center;
}
div {
  width: 85%;
  margin: 1%;
  padding: 4%;
}
h5 {
  font-size: 22px;
}
p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
}
/*END CONTACT SECTIONS STYLING*/
/*BEGIN FOOTER STYLING*/
footer {
  height: 8vh;
  background-color: pink;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1%;
  padding: 4%;
}
h3 {
  font-size: 25px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
