/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
/*BEGIN NAVIGATION STYLING*/
nav {
  display: flex;
  justify-content: center;
  /*this closes the navContainer*/
}
nav ul .navContainer {
  list-style: none;
}
/* this closes the nav*/
/*END NAVIGATION STYLING*/
/*BEGIN ABOUT SECTION STYLING*/
#about {
  /*this closes quote class*/
}
/*this closes about section*/
/*this closes the main Img*/
.intro {
  /*this closes the div*/
  /*this closes the h1*/
  /*this closes the h2*/
  /*this closes the paragraph*/
}
/*this closes the intro*/
/*this closes the portfolio button*/
/*END ABOUT SECTION STYLING*/
/*BEGIN SKILLS SECTION STYLING*/
.skills {
  /*this closes the div*/
  /*this closes the h3*/
  /*this closes the ul*/
  /*this close the list items*/
}
/*this closes the skills class*/
/*END SKILLS SECTION STYLING*/
/*BEGIN EDUCATION SECTON STYLING*/
#education {
  /*this closes h2*/
  /*this closes big eduContainer*/
  /*this closes the attributes*/
  /*this closes h3*/
  /*this closes h4*/
  /*this closes paragraph*/
}
#education .eduContainer {
  /*this closes div*/
}
/*this closes education section*/
/*END EDUCATION SECTION STYLING*/
/*BEGIN WORK SECTION STYLING*/
#work {
  /*this closes h2*/
  /*this closes big workContainer*/
}
#work .workContainer {
  /*this closes div*/
}
#work .workContainer div {
  /*this closes h3*/
  /*this closes h4*/
  /*this closes paragraph*/
}
/*this closes work section*/
/*END WORK SECTION STYLING*/
/*BEGIN CONTACT SECTION STYLING*/
#contact {
  /*this closes the div*/
  /*this closes h5*/
  /*this closes the paragraph*/
}
/*this closes the contact section*/
/*END CONTACT SECTIONS STYLING*/
/*BEGIN FOOTER STYLING*/
footer {
  /*this closes the nav section */
}
footer nav {
  /*-this closes the h3 */
  /*this closes ul .social section*/
}
footer nav ul .social {
  list-style: none;
}
/*this closes the footer */
/*END FOOTER STYLING*/
