/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
/*variables*/
/*mix-ins*/
h1,
h2,
h3,
h4,
h5 {
  color: #9baec0;
  font: 'Noto Serif', serif;
}
/*BEGIN NAVIGATION STYLING*/
nav {
  background-color: rgba(255, 192, 203, 0.103);
  height: 10vh;
}
nav .navContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
nav .navContainer .navContainer a {
  color: #9baec0;
}
/*END NAVIGATION STYLING*/
/*begin intro styling*/
.intro {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  border: 1px double #9baec0;
  margin: 1%;
  padding: 4%;
  /*this closes the div*/
  /*this closes the paragraph*/
}
.intro div {
  margin: 1%;
  padding: 4%;
  width: 60%;
}
.intro p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  font: 'Nunito Sans', sans-serif;
}
/*this closes the intro*/
.portfolio button {
  display: flex;
  justify-content: center;
  align-content: center;
  font: 'Nunito Sans', sans-serif;
}
/*this closes the portfolio button*/
/*end intro styling*/
/*BEGIN ABOUT SECTION STYLING*/
.aboutDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1%;
  padding: 4%;
  /*this closes the paragraph*/
}
.aboutDiv p {
  font-style: italic;
  line-height: 2;
  text-align: left;
  font-size: 18px;
  font: 'Nunito Sans', sans-serif;
  background-color: rgba(255, 192, 203, 0.103);
  color: #9baec0;
  padding: 2%;
  border: 1px double #9baec0;
  width: 50%;
}
/*this closes about class*/
.mainImg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
}
/*END ABOUT SECTION STYLING*/
/*BEGIN SKILLS SECTION STYLING*/
.skills {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  border: 1px double #9baec0;
  background-color: rgba(255, 192, 203, 0.103);
  /*this closes the div*/
  /*this close the list items*/
}
.skills div {
  width: 60%;
  margin: 1%;
  padding: 4%;
}
.skills li {
  font-size: 20px;
}
/*this closes the skills class*/
/*END SKILLS SECTION STYLING*/
/*BEGIN EDUCATION SECTON STYLING*/
.eduContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  border: 1px double #9baec0;
  /*this closes div*/
}
.eduContainer div {
  width: 85%;
  margin: 1%;
  padding: 4%;
  /*this close the paragraph*/
}
.eduContainer div p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  font: 'Nunito Sans', sans-serif;
}
/*this closes big eduContainer*/
/*END EDUCATION SECTION STYLING*/
/*BEGIN WORK SECTION STYLING*/
.workContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  border: 1px double #9baec0;
  /*this closes div*/
}
.workContainer div {
  width: 85%;
  margin: 1%;
  padding: 4%;
  /*this closes paragraph*/
}
.workContainer div p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  font: 'Nunito Sans', sans-serif;
}
/*this closes workContainer*/
/*END WORK SECTION STYLING*/
/*BEGIN CONTACT SECTION STYLING*/
.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  border: 1px double #9baec0;
  background-color: rgba(255, 192, 203, 0.103);
}
.contact div {
  width: 75%;
  margin: 1%;
  padding: 4%;
}
.contact div p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  font: 'Nunito Sans', sans-serif;
}
/*END CONTACT SECTIONS STYLING*/
/*BEGIN FOOTER STYLING*/
footer {
  height: 8vh;
  background-color: pink;
}
footer nav {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1%;
  padding: 4%;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
