// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
	height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Nunito+Sans&display=swap');
/*variables*/
@main-color:#9baec0;   
@background-color:rgba(255, 192, 203, 0.103);
@main-font:'Nunito Sans', sans-serif;
@title-font:'Noto Serif', serif;

/*mix-ins*/
.center(){ 
	display:flex;
	justify-content:center;
	align-content: center;
}

.margin(){
	margin:1%;
	padding:4%;
}

.paragraph(){
	line-height: 2;
	text-align: left;
	font-size: 18px;
	font: @main-font;
}
.border(){
	padding:2%;
	border: 1px double @main-color;
}

h1, h2, h3, h4, h5{
	color:@main-color;
	font:@title-font;
}
											/*BEGIN NAVIGATION STYLING*/
nav {
	background-color: @background-color;
	height: 10vh;

	.navContainer {
		display:flex;
		justify-content: center;
		justify-content: space-evenly;
	
		.navContainer a{
			color:@main-color;
		}
	}
}
											/*END NAVIGATION STYLING*/

											/*begin intro styling*/					
.intro{
	.center();
	.border();
	.margin();

		div{
			.margin();
			width:60%;
	}/*this closes the div*/

		p{
		.paragraph();
	}/*this closes the paragraph*/

}/*this closes the intro*/

.portfolio button{
	.center();
	font: @main-font;
}/*this closes the portfolio button*/
											/*end intro styling*/
											/*BEGIN ABOUT SECTION STYLING*/
.aboutDiv{
	.center();
	.margin();

		p{
		font-style: italic;
		.paragraph();
		background-color: @background-color;
		color:@main-color;
		.border();
		width:50%;
	}/*this closes the paragraph*/
}/*this closes about class*/

.mainImg{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width:10%;
}
											/*END ABOUT SECTION STYLING*/
											/*BEGIN SKILLS SECTION STYLING*/
.skills{
	.center();
	.border();
	background-color: @background-color;
		div{
			width:60%;
			.margin();
	}/*this closes the div*/

		li{
			font-size: 20px;
	}/*this close the list items*/

}/*this closes the skills class*/




											/*END SKILLS SECTION STYLING*/
											/*BEGIN EDUCATION SECTON STYLING*/


.eduContainer{
	.center();
	.border();

	div{
		width:85%;
		.margin();

	p{
		.paragraph();
	}/*this close the paragraph*/
	}/*this closes div*/
}/*this closes big eduContainer*/


											/*END EDUCATION SECTION STYLING*/

											/*BEGIN WORK SECTION STYLING*/

.workContainer{
	.center();
	.border();
		
	div{
		width:85%;
		.margin();

	p{
		.paragraph();
	}/*this closes paragraph*/
	}/*this closes div*/
}/*this closes workContainer*/
		



											/*END WORK SECTION STYLING*/

											/*BEGIN CONTACT SECTION STYLING*/
.contact {
	.center();
	.border();
	background-color: @background-color;

	div{
		width:75%;
		.margin();

	p{
	.paragraph();
	}
	}
}

											/*END CONTACT SECTIONS STYLING*/

											/*BEGIN FOOTER STYLING*/
footer{
	height:8vh;
	background-color:pink;

	nav{
		.center();
		.margin();
	}

	.social{
		display:flex;
		justify-content:center;
		align-items:center;
		flex-flow:wrap;
	}
}