// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
	height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Nunito+Sans&display=swap');
/*variables*/
@main-color:#708090;   
@hover-color:#D3D3D3;
@background-color:#FFC0CB;
@main-font:'Nunito Sans', sans-serif;
@title-font:'Noto Serif', serif;

/*mix-ins*/
.center(){ 
	display:flex;
	justify-content:center;
	align-content: center;
}

.margin(){
	margin:1%;
	padding:4%;
}

.paragraph(){
	line-height: 2;
	text-align: left;
	font-size: 18px;
}

.heading2(){
	font-size:30px;
}

.heading3(){
	font-size: 25px;
}

.heading4(){
	font-size: 22px;
}
											/*BEGIN NAVIGATION STYLING*/
nav{
	background-color: @background-color;
	height: 8vh;
}
.navContainer nav{
	display:flex;
	justify-content: space-evenly;

}
nav a{
	width:85%;
	.heading4();
	color:@main-color;
}
											/*END NAVIGATION STYLING*/
											/*BEGIN ABOUT SECTION STYLING*/

.aboutDiv{
	display:flex;
	justify-content: center;
	align-content: center;
}

.aboutDiv div{
	width:60%;
}
.aboutDiv p{
	font-style: italic;
	
}

											/*begin intro styling*/					
.intro{
	.center();

		div{
			.margin();

	}/*this closes the div*/

		h1{
			font-size: 40px;
	}/*this closes the h1*/

		h2{
			.heading2();
	}/*this closes the h2*/

		p{
			.paragraph();
	}/*this closes the paragraph*/

}/*this closes the intro*/

.portfolio button{
	.center();
}/*this closes the portfolio button*/
											/*end intro styling*/
											/*END ABOUT SECTION STYLING*/
											/*BEGIN SKILLS SECTION STYLING*/
.skills{
	.center();
		div{
			width:50%;
			.margin();
	}/*this closes the div*/

		h3{
			.heading3();
	}/*this closes the h3*/

		li{
			.heading3();
	}/*this close the list items*/


}/*this closes the skills class*/




											/*END SKILLS SECTION STYLING*/
											/*BEGIN EDUCATION SECTON STYLING*/

h2{
	.heading2();
}

.eduContainer{
	.center();
		div{
			width:85%;
			.margin();
	}/*this closes div*/

		h3{
			.heading3();
	}/*this closes the h3*/

		p{
			.paragraph();
	}/*this close the paragraph*/
}/*this closes big eduContainer*/


											/*END EDUCATION SECTION STYLING*/

											/*BEGIN WORK SECTION STYLING*/

h2{
	.heading2();
}/*this closes h2*/

.workContainer{
	.center();
		
	div{
		width:85%;
		.margin();
	}/*this closes div*/
}/*this closes workContainer*/

h3{
	.heading3();
}/*this closes h3*/

h4{
	.heading4();
}/*this closes h4*/

p{
	.paragraph();
}/*this closes paragraph*/
	



											/*END WORK SECTION STYLING*/

											/*BEGIN CONTACT SECTION STYLING*/
.contact {
	.center();
}

div{
	width:85%;
	.margin();
}

h5{
.heading4();
}

p{
.paragraph();
}

											/*END CONTACT SECTIONS STYLING*/

											/*BEGIN FOOTER STYLING*/
footer{
	height:8vh;
	background-color:pink;
}
nav{
	.center();
	.margin();
}
h3{
	.heading3();
} 

.social{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:wrap;
}
